@model Profi.Models.Testimonial
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Create</h6>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Photo" class="form-label">Image</label>
            <input asp-for="Photo" class="form-control">
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OperationName" class="form-label">OperationName</label>
            <input asp-for="OperationName" class="form-control">
            <span asp-validation-for="OperationName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Comment" class="form-label">Comment</label>
            <input asp-for="Comment" class="form-control">
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stars" class="form-label">Stars</label>
            <input asp-for="Stars" class="form-control">
            <span asp-validation-for="Stars" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="submit" class="btn btn-primary" asp-action="Index">Cancel</button>
    </form>
</div>